@import "tailwindcss";

@font-face {
  font-family: "Big Noodle Titling";
  src: url("./assets/fonts/big-noodle-titling/big_noodle_titling.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-display: "Bebas Neue", sans-serif;
  --font-body: "Source Sans Pro", sans-serif;
  --font-logo: "Big Noodle Titling", sans-serif;
  --color-corinthians-red: #CC2031;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
